body{
    background-color: #d4d8e0;
}

a {
	text-decoration: none;
	outline: none;
	color: #000;
}
li{
    list-style:none;
}

.question-ul li{
    padding: 10px;
    overflow: hidden;
    display: flex;
    background-color: #fff;
    border-bottom:1px solid #eee;
    margin-top: 15px;
    border-radius: 10px;
}
.side-question{
    flex-basis: 38px;
    height:100%;
}
.side-question-avatar{
    width: 50px;
    height:50px;
    border-radius: 3px;
}

.question-main{
    flex: 1;
    width: 660px;
    margin-left:10px;
    overflow: hidden;
}

.question-title a{
    color: #154586;
    font-size:20px;
    font-weight: 900;
}
.question-author{
    font-size: 13px;
    margin-top: 5px;
}
.question-content{
    margin-top: 5px;
    font-size:15px;
}
.question-time{
     font-size:14px;
}
.question-detail{
    text-align: right;
    margin-top: 10px;
}
.question-detail .question-author{
    margin-right:10px;
}
.collect-it{
    display: inline-block;
}
.collect_item{
    float: right;
}

#captcha-btn{
    background-color: #83a7ee;
    color: white;
}

.sl{
    margin-top: 10px;
}

.delete_fav{
    float: right;
    margin-left: 10px;
}

.fav_title{
    color: #0c5460;
    font-size: 18px;
}
.fav-content{
    float: right;
    font-size: 15px;
}

#ex1-tab-1{
    color: #53656c;
}

#ex1-tab-1.active{
    color: black;
}
.avatar{
    display: block;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 auto;

}

.person-info .title{
    font-size: 18px;
}

.info-btn{
    float: right;
}

.getgeo{
    margin-top: 10px;;
}