{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
{% endblock %}

{% block body %}
  <div class="row" style="margin-top: 20px;">
    <div class="col"></div>
    <div class="col-8">
      <ul class="question-ul">
        {% for question in questions %}
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- Modal Header-->
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">My Favorite</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
               <!-- Modal Body-->
              <div class="modal-body">
                    <!-- add favorite -->
                    <form class="d-flex justify-content-center align-items-center mb-4" method="post" action="{{ url_for('mine.add') }}">
                                  <div class="form-outline flex-fill">
                                      <div class="input-group mb-3">
                                          <input type="text" id="form2" class="shade form-control" placeholder="favorite_name" name="favorite_name"/>
                                      </div>
                                  </div>
                                  <button type="submit" class="btn btn-info ms-2">Adds</button>
                    </form>
                    <!-- show favorite -->
                    <ul>
                       {% for fav in favorite %}
                        <li>
                                <div class="card-body">{{ fav.name }}
                                    <button id="b_{{ question.id }}_{{ fav.id }}">collect</button>
                                </div>
                        </li>
                        {% endfor %}
                    </ul>
              </div>
              <!-- Modal Footer-->
              <div class="modal-footer">
                <button type="button" id="{{ question.id }}_close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

              </div>
            </div>
          </div>
        </div>
          <li>
            <div class="side-question">
              <img class="side-question-avatar" src="{{ url_for('static',filename='images/avatar.jpg') }}" alt="">
            </div>
            <div class="question-main">
              <div class="question-title"><a href="{{ url_for('qa.question_detail',question_id=question.id) }}">{{ question.title }}</a></div>
              <div class="question-content">{{ question.content }}</div>
              <div class="question-detail">
                  <button type="button" class="btn btn-default" id="btn_collect"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="bi bi-star"  id="btn_collect_icon_{{ question.id }}"></i>
                </button>

                <span class="question-author">{{ question.author.username }}</span>
                <span class="question-time">{{ question.create_time }}</span>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col"></div>
  </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">

    {% for question in questions %}
        var close =  document.getElementById("{{ question.id }}_close");
    close.addEventListener("click", e => {
                fetch("http://127.0.0.1:5000/mine/collect", {
                    method: "POST",
                    headers: {
                      "Accept": "application/json",
                      "Content-Type": "application/json"
                    },
                    body: JSON.stringify({

                    })
                  })
                  .then(res => {
                    if (!res.ok) {
                      throw Error(res.status);
                    }
                    if(collect_it.innerHTML == "isCollect"){
                        collect_it.innerHTML = "Collect";
                    }else{
                        collect_it.innerHTML = "isCollect";
                    }

                  })
                  .catch(err => console.error(err));
              });
        {% for fav in favorite %}
        var collect_it = document.getElementById("b_{{ question.id }}_{{ fav.id }}")

            collect_it.addEventListener("click", e => {
                fetch("http://127.0.0.1:5000/mine/collect", {
                    method: "POST",
                    headers: {
                      "Accept": "application/json",
                      "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                      q_id:{{ question.id }},
                      f_id:{{ fav.id }}
                    })
                  })
                  .then(res => {
                    if (!res.ok) {
                      throw Error(res.status);
                    }
                    location.reload();

                  })
                  .catch(err => console.error(err));
              });

        {% endfor %}
    {% endfor %}

        $("#btn_collect").click(function(){
            var classname = $("#btn_collect_icon").attr("class");
            $("#btn_collect_icon").removeClass("bi-star-fill bi-star");
            if(classname == "bi bi-star" ){
                $("#btn_collect_icon").addClass("bi bi-star-fill");
            }else{
                $("#btn_collect_icon").addClass("bi bi-star");
            }
        });

        {% for question in questions %}
            var collect = document.getElementById("btn_collect_icon")
            $("#btn_collect_icon_{{ question.id }}").removeClass("bi-star-fill bi-star");
            console.log({{ question.iscollect }})
            var iscollect = {{ question.iscollect }};
            if(iscollect>0){

                $("#btn_collect_icon_{{ question.id }}").addClass("bi bi-star-fill");
            }else{
                $("#btn_collect_icon_{{ question.id }}").addClass("bi bi-star");
            }

        {% endfor %}
    </script>
{% endblock %}